docopt==0.6.2
gdbn==0.1
gnumpy==0.2
joblib==0.9.3
Lasagne==0.1
nolearn==0.5
numpy==1.10.2
pandas==0.17.1
Pillow==3.1.0
pyshp==1.2.3
python-dateutil==2.4.2
pytz==2015.7
requests==2.9.1
scikit-learn==0.17
scipy==0.16.1
six==1.10.0
sklearn==0.0
Theano==0.7.0
